.moment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.moment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.moment h2,
.buttons-container h3,
.moment,
.buttons-container,
.comments-container,
.comments-container h3,
.comment {
    margin-bottom: 1em;
}

.moment img {
    width: 60%;
    margin-bottom: 1em;
}

.buttons-container {
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.comments-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments-body p {
    margin-bottom: .5em;
}

.add-comments {
    margin-bottom: 3em;
    margin-top: 1em;
    text-align: left;
    width: 100%;
}